<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<header th:replace="layout :: site-header"></header>

<h2>Create New Post</h2>

<form method="post" th:object="${post}">
    <label for="title">Title :</label>
    <br/>
    <input type="text" id="title" name="title"
           th:value="*{title}" />
    <span class="formError"
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">Invalid title</span>

    <br/>

    <label for="body">Content :</label><br/>
    <textarea id="body" name="body"
              th:value="*{body}" rows="10" cols="50">Ada Apa dengan Cinta 3</textarea>>
    <span class="formError"
          th:if="${#fields.hasErrors('body')}"
          th:errors="*{body}">Invalid body</span>

    <br />
    <input type="submit" value="Create" />
    <input type="reset" value="Cancel" />
</form>

<footer th:replace="layout :: site-footer"></footer>
</body>
</html>